{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <!-- DataTales Example -->


                <div class="card shadow mb-4">
                    <div class="card-header py-3">

                        <h1 class="h3 mb-2 text-gray-800">Changer le mot de passe</h1>


                    </div>
                    <div class="card-body">

                        <div class="col-md-6 offset-md-2">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_row(form.current_password) }}
                {{ form_row(form.plainPassword.first, {'attr': {'minlength': 8 , 'pattern': "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$" }} ) }}
                            <em class="small text-gray-500">A minimum 8 characters password contains a combination of <strong>uppercase and lowercase letter</strong> and <strong>number</strong>.</em>

                {{ form_row(form.plainPassword.second) }}
                <div>
                    <input type="submit" id="ajout" value="{{ 'change_password.submit'|trans }}" class="fa fa-trash-o btn btn-success col-md-4 offset-md-7"/>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock body %}
